form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23333;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>') no-repeat right 10px center/15px 15px;
    padding-right: 40px;
    background-color: #fff;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.rezultatiContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rezultatiLabel {
    font-weight: bold;
    margin-right: 10px;
}

.rezultatiInput {
    width: 150px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
    align-items: center;
}

.container input[type="radio"] {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.container input[type="radio"]:first-child {
    margin-left: 0;
}

.container input[type="radio"] + label {
    margin-left: 5px;
}

.container label:not(:first-child) {
    display: inline-block;
    margin-left: 10px;
}

input[type="text"][readonly] {
    pointer-events: none;
    background-color: #f0f0f0;
    width: 300px;
    text-align: center;
}

input.propisaniZahtevi[readonly] {
    pointer-events: none;
    background-color: #f0f0f0;
    width: 250px !important;
    text-align: center;
}


